.profile-photo {
  border-radius: 50%;
  width: 280px;
  height: 280px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: cover;
}
.new-profile-photo {
  margin: 0 auto;
  object-fit: contain;
  width: 450px;
  height: 450px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.profile-photo-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 280px;
  height: 280px;
  background-color: rgba(255, 255, 255, 0.06) !important;
  border: 3.8px solid rgba(255, 255, 255, 0) !important;
  color: rgba(255, 255, 255, 0.06) !important;
  font-size: 13px;
  font-weight: Bold;
  text-align: center;
  top: 46%;
}
.profile-photo-card {
  width: 95%;
}
.details-card {
  width: 95%;
}

.profile-photo-button:hover {
  border-radius: 50% !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: white !important;
}

.profile-photo-button:focus,
.profile-photo-button:active {
  border-radius: 50% !important;
  box-shadow: none !important;
  outline: 0px !important;
  background-color: transparent !important;
}
.border-box {
  box-sizing: border-box;
  width: 105%;
}
.border-box-bio {
  box-sizing: border-box;
  width: 100%;
}
.edit-button:hover {
  cursor: pointer;
  transform: scale(1.15);
  color: blue;
}
.delete-button:hover {
  cursor: pointer;
  transform: scale(1.15);
  color: red;
}
.card-style {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.about-card {
  width: 100%;
}
.scrollable-column {
  overflow-y: scroll;
  height: calc(100vh - 105px);
}

.my-post-card {
  width: 100%;
}
.post-user-name a {
  color: black;
  text-decoration: none;
}

.post-user-name a:hover {
  text-decoration: none;
  transform: scale(1.05);
}
.empty-state {
  align-items: center;
  justify-content: center;
  color: darkgray;
}

.send-button,
.unfriend-button,
.sent-button,
.accept-button {
  padding: 5px;
  border-radius: 10px;

  cursor: pointer;
}
.accept-button {
  background-color: lightgreen;
}
.sent-button {
  background-color: lightgray;
}
.unfriend-button {
  background-color: red;
  color: white;
}
.send-button {
  background-color: yellow;
}

.send-button:hover,
.unfriend-button:hover,
.accept-button:hover,
.sent-button:hover {
  transform: scale(1.15);
}
