.card-header-style {
  background-color: honeydew !important;
}
.share-button {
  background-color: honeydew !important;
  color: black !important;
  border-color: honeydew !important;
  border-radius: 20% !important;
}
.share-button:hover:not(.disabled-button) {
  background-color: palegoldenrod !important;
  border-color: palegoldenrod !important;
}
.card-style {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.post-photo {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  object-fit: cover;
}
.disabled-button {
  cursor: not-allowed !important;
}
